body {
  width: 100vw;
  min-height: 100vh;
  background-color: #0a0c0f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding-bottom: 150px;
}

.clip-title {
  font-size: 32pt;
  color: white;
  font-weight: bold;
  padding-right: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  margin-top: 0px;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 80px;
  cursor: pointer;
}

a {
  text-decoration: none;
}
